.Profile
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
.Profile
    display: flex
    flex-direction: column
    div
        display: flex
        align-items: center
        justify-content: space-between
    input
        padding: 5px
        margin: 10px 0
        margin-left: 20px
        font-size: 1.4rem
    label
        font-size: 1.4rem
    .BtnGroup
        display: flex
        justify-content: flex-end
.Btn
    margin-top: 20px
    display: inline-block
    border: 1px #ccc solid
    padding: 10px 30px
    font-size: 1.4rem
    &:hover
        cursor: pointer
        background-color: #e2e2e2
    
