.Profile
    margin-top: 30px
    display: flex
    justify-content: space-between
    .BtnGroup
        display: flex
        flex-direction: column
.Btn
    margin-bottom: 20px
    width: 250px
    display: inline-block
    border: 1px #ccc solid
    padding: 10px 30px
    font-size: 1.4rem
    &:hover
        cursor: pointer
        background-color: #e2e2e2
.Content
    margin-left: 30px
    width: 100%
    min-width: 500px
