@import '../../../variables'

.MainPage
    position: relative
    .Title
        position: relative
        width: 100%
        background: #c5c5c5
        height: 450px
        padding-top: 60px
        font-weight: normal
        text-align: center
        background-size: contain
        span 
            padding: 20px 30px
            border-radius: 10px
            background: #ffffffcc
            font-size: 30px
    .TitleBtn
        display: flex
        align-items: center
        justify-content: center
        span
            font-size: 32px
            font-weight: bold
            border-radius: 4px
            margin-top: 40px
    .Points
        max-width: 700px
        padding: 24px
        margin: 0 auto
        display: flex
        justify-content: center
        flex-direction: column
        .Point
            margin: 26px 0
            position: relative
            display: flex
            justify-content: flex-end
            width: 100%
            align-items: center
            .PointText
                margin-right: 40px
                font-size: 24px
                font-weight: bold
            
            .ImgContainer
                i
                    transition: color 0.3s ease-out
                    color: #503fee
                &:hover
                    i
                        color: #2e2481
            &:nth-child(2n)
                justify-content: flex-start
                .PointText
                    order: 1
                    margin-right: 0
                    margin-left: 40px
    .Text
        margin: 8px
        padding-bottom: 24px
        display: flex
        justify-content: center
        p
            color: $black-2
            text-align: justify
            max-width: 700px
            // &::before
            //     position: absolute
            //     color: #00000067
            //     width: 100px
            //     height: 100px
            //     top: 0px
            //     right: 180px
            //     z-index: 20
            //     font-size: 80px
            //     line-height: 70px
            //     font-weight: 700
            // &:nth-child(2), &:nth-child(4)
            //     &::before
            //         position: absolute
            //         color: #00000067
            //         width: 100px
            //         height: 10px
            //         top: 0px
            //         left: 20px
            //         z-index: 20
            //         font-size: 80px
            //         line-height: 70px
            //         font-weight: 700
            // &:nth-child(1)
            //     &::before
            //         content: '1'
            // &:nth-child(2)
            //     &::before
            //         content: '2'
            // &:nth-child(3)
            //     &::before
            //         content: '3'
            // &:nth-child(4)
            //     &::before
            //         content: '4'
            