.SearchPage
    display: flex
    height: 100vh
.AdsSide
    position: relative
    overflow-y: scroll
    width: 50%
    height: 100%
.MapSide
    width: 50%
    height: 100%
.CardGroup
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    