.Similar
    margin: 20px 0
    h2
        text-align: center
.CardGroup
    display: flex
    justify-content: space-between
    margin: 20px 0
.ButtonContainer
    margin: 30px
    text-align: center
.Btn
    display: inline-block
    cursor: pointer
    border-radius: 8px
    background: #4AA300
    padding: 12px
    font-size: 1.5rem
    color: #fff
    text-transform: uppercase
.Btn:hover
    background: #439500
.Btn:active
    background: #387c00