@import '../../../../variables'

.Similar
    border-top: 1px solid $gray-4
    margin-top: 20px
    padding-top: 20px
    h2
        font-size: 20px
        font-weight: bold
        text-align: center
    .CardGroup
        overflow: hidden
        display: flex
        justify-content: space-between
    .ButtonContainer
        display: flex
        justify-content: center
        margin: 30px
        text-align: center
        a
            display: inline

