@import '../../../variables'


.ModalBg
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 999
    background-color: #242424d2
    form
        display: flex
        flex-direction: column
    button
        margin-top: 10px

.Modal
    border-radius: 4px
    position: relative
    border: 1px solid $gray-5
    background-color: $white
.ModalClose
    position: absolute
    top: 0px
    right: -30px
    cursor: pointer
    img
        height: 20px
.ModalLayout
    margin: 30px
    h3
        margin-bottom: 10px
        font-size: 24px
        font-weight: 700