.ModalBg
    display: flex
    align-items: center
    justify-content: center
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: #242424d2
    z-index: 999
.Modal
    position: relative
    border: 1px solid #cccccc
    padding: 24px
    background-color: #fff
.ModalClose
    position: absolute
    top: 0
    right: 0
    width: 25px
    height: 25px
    cursor: pointer