@import '../../variables'

.Header
    white-space: pre
    top: 0px
    position: sticky
    color: $black-1
    height: 72px
    background: $white
    border-bottom: 1px solid $gray-4
    z-index: 100
    a
        &:focus
            color: inherit
    .Container
        max-width: 1170px
        padding: 0 15px
        margin: auto
        height: 100%
    .HeaderNav
        display: flex
        justify-content: space-between
        align-items: center
        height: 100%
        .Active
            position: relative
            font-weight: 700
            &::after
                content: ''
                width: 100%
                height: 4px
                bottom: -1px
                left: 0
                background: $blue
                position: absolute
                border-top-right-radius: 3px
                border-top-left-radius: 3px
    .HeaderLogoMenu
        height: 100%
        display: flex
    .Logotype
        display: flex
        align-items: center
        font-weight: bold
        margin-right: 56px
        font-size: 18px
        color: $blue
    .CityMenu
        display: flex
        align-items: center
        vertical-align: middle
        font-size: 13px
        padding: 0 10px
        cursor: pointer
        &:hover
            background: darken(#fff, 3%)
        img
            margin-right: 10px
    .HeaderLinks
        display: flex
        flex-direction: row
        height: 100%
        a
            color: $black-1
        div
            width: 100%
            height: 100%
            margin-left: 10px
            display: flex
            align-items: center
            font-size: 15px
            padding: 0 10px
            &:hover
                background: darken($white, 3%)
            &:first-child
                margin-left: 0
    .HeaderUserMenu
        display: flex
        flex-direction: row
        font-size: 16px
        height: 100%
        div
            width: 100%
            height: 100%
            margin-left: 10px
            display: flex
            align-items: center
            font-size: 15px
            color: $blue
            margin-left: 0
            cursor: pointer
            padding: 0 10px
            &:first-child
                margin-left: 0
        a
            font-size: 16px
            &:hover
                background: darken($white, 5%)

        button
            margin: 0

.Select
    margin: 0 20px
    .SelectCity
        margin-left: 10px
        text-decoration: underline
    .SelectCity:hover
        color: $gray-5
        cursor: pointer