.ModalPhone
    i
        margin-right: 10px
    a
        color: #000
        font-size: 32px

.BtnGroup
    display: flex
    justify-content: center
    button
        margin: 0 10px
        margin-top: 20px


