.InputLayer
    position: relative
    display: flex
    justify-content: center
    align-items: center
    background: #F6F7F9
    border-radius: 4px
    height: 100%
    &:hover
        border: 1px solid #0084FE
        cursor: pointer
.Label
    display: block
    height: 100%
.File
    border: 1px solid #0084FE
.FileInput
    width: 100%
    height: 120px
